{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <h1>Recent Orders</h1>
      <h2>Welcome {{user}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Quanity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <th scope="row">{{order.id}}</th>
            <td>
              <img
                src="{{order.image}}"
                class="img-thumbnail"
                alt="book"
                style="height: 100px"
              />
            </td>
            <td>{{order.title}}</td>
            <td>{{order.quanity}}</td>
            <td>${{order.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
  </body>
</html>
